<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FrontControllerApp</display-name>
  <welcome-file-list>
    <welcome-file>pages\\index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MvcController</display-name>
    <servlet-name>MvcController</servlet-name>
    <servlet-class>com.keane.mvc.MvcController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MvcController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/MyDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <listener>
    <listener-class>com.keane.training.web.handlers.MyListenerClass</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>RegisterInstitute</display-name>
    <servlet-name>RegisterInstitute</servlet-name>
    <servlet-class>com.keane.training.web.handlers.RegisterInstitute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterInstitute</servlet-name>
    <url-pattern>/RegisterInstitute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.keane.training.web.handlers.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDetails</display-name>
    <servlet-name>StudentDetails</servlet-name>
    <servlet-class>com.keane.training.web.handlers.StudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDetails</servlet-name>
    <url-pattern>/StudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstituteDetails</display-name>
    <servlet-name>InstituteDetails</servlet-name>
    <servlet-class>com.keane.training.web.handlers.InstituteDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstituteDetails</servlet-name>
    <url-pattern>/InstituteDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>jhg</display-name>
    <servlet-name>jhg</servlet-name>
    <servlet-class>com.keane.training.web.handlers.jhg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jhg</servlet-name>
    <url-pattern>/jhg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Feedback</display-name>
    <servlet-name>Feedback</servlet-name>
    <servlet-class>com.keane.training.web.handlers.Feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Feedback</servlet-name>
    <url-pattern>/Feedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFeedback</display-name>
    <servlet-name>GetFeedback</servlet-name>
    <servlet-class>com.keane.training.web.handlers.GetFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFeedback</servlet-name>
    <url-pattern>/GetFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetComplain</display-name>
    <servlet-name>GetComplain</servlet-name>
    <servlet-class>com.keane.training.web.handlers.GetComplain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetComplain</servlet-name>
    <url-pattern>/GetComplain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GiveComplain</display-name>
    <servlet-name>GiveComplain</servlet-name>
    <servlet-class>com.keane.training.web.handlers.GiveComplain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiveComplain</servlet-name>
    <url-pattern>/GiveComplain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GiveRequest</display-name>
    <servlet-name>GiveRequest</servlet-name>
    <servlet-class>com.keane.training.web.handlers.GiveRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiveRequest</servlet-name>
    <url-pattern>/GiveRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetReq</display-name>
    <servlet-name>GetReq</servlet-name>
    <servlet-class>com.keane.training.web.handlers.GetReq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReq</servlet-name>
    <url-pattern>/GetReq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GiveResp</display-name>
    <servlet-name>GiveResp</servlet-name>
    <servlet-class>com.keane.training.web.handlers.GiveResp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiveResp</servlet-name>
    <url-pattern>/GiveResp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GiveMsg</display-name>
    <servlet-name>GiveMsg</servlet-name>
    <servlet-class>com.keane.training.web.handlers.GiveMsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiveMsg</servlet-name>
    <url-pattern>/GiveMsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMsg</display-name>
    <servlet-name>GetMsg</servlet-name>
    <servlet-class>com.keane.training.web.handlers.GetMsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMsg</servlet-name>
    <url-pattern>/GetMsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentUpdate</display-name>
    <servlet-name>StudentUpdate</servlet-name>
    <servlet-class>com.keane.training.web.handlers.StudentUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUpdate</servlet-name>
    <url-pattern>/StudentUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstituteDelete</display-name>
    <servlet-name>InstituteDelete</servlet-name>
    <servlet-class>com.keane.training.web.handlers.InstituteDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstituteDelete</servlet-name>
    <url-pattern>/InstituteDelete</url-pattern>
  </servlet-mapping>
</web-app>